@model IEnumerable<Iglesia.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Members";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />
<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="CreateTeacher" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Teacher</a>
    }
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Members</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Profession)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Church)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Profession.Name)
                                    </td>
                                    <td>
                                       @Html.DisplayFor(modelItem => item.Church.Name)
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

